modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
stack = "FULLSTACK_JS"

[userenv]

[userenv.shared]
EMAIL_USER = "raneaniket23@gmail.com"
EMAIL_PASS = "wirurvuovthjxogh"
CLOUDINARY_API_SECRET = "sRCb0UvRvqeF0cPLS9eSJj52Nms"
CLOUDINARY_API_KEY = "193651557981285"
CLOUDINARY_CLOUD_NAME = "dnfee6rib"
